<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.exmp1.jisuzexiaotong"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 首页 -->
        <activity
            android:name="cn.zxt.guidepage.WelcomeAct"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 资讯 -->


        <!-- 时光轴 -->
        <activity
            android:name="cn.zxt.time.TimeLayout"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="cn.zxt.query.QueryLayout" >
        </activity>
        <activity android:name="cn.zxt.query.Query2" >
        </activity>
        <activity android:name="cn.zxt.main.MainLayoutActivity" >
        </activity>
        <activity android:name="cn.zxt.feedback.FeedbackLayout" >
        </activity>
        <activity android:name="cn.zxt.guidepage.Guide" />
        <activity android:name="cn.zxt.main.MainActivity" />
        <activity android:name="cn.zxt.information.InformationLayout.java" >
        </activity>
        <activity android:name="cn.zxt.information.Z1" >
        </activity>
        <activity android:name="cn.zxt.information.Z2" >
        </activity>
        <activity android:name="cn.zxt.information.Z3" >
        </activity>
        <activity android:name="cn.zxt.information.Z4" >
        </activity>
        <activity android:name="cn.zxt.information.Z5" >
        </activity>
        <activity android:name="cn.zxt.information.Z6" >
        </activity>
        <activity android:name="cn.zxt.information.Z7" >
        </activity>
    </application>

</manifest>